.groupchat__msgselfParent {
    display: flex;
    justify-content: flex-end;
}
.groupchat__msg {
    display: inline-block;
    padding: 10px;
}
.groupchat__msg--self,.groupchat__msg {
    border: 1px solid #cacaca;
    border-radius: 20px;
}

.groupchat__msg p,.groupchat__msg h5 {
    margin: 0;
}